* {
  box-sizing: border-box;
}

:root {
  /* colors */
  --color-neutral-900: #25293a;
  --color-neutral-800: #333950;
  --color-neutral-500: #747b95;
  --color-neutral-500-50a: rgba(116, 123, 149, 50%);
  --color-neutral-50: #fafafa;
  --color-neutral-0: #ffffff;
  --color-blue-500: #5175ff;
  --color-blue-300: #829cff;
  --color-blue-100: #e4eaff;
  --color-red-400: #f05b5b;
}

html,
input,
button {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

html,
body {
  margin: 0;
  color: var(--color-neutral-900);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
  letter-spacing: 0px;
}

h1 {
  font-size: 2.5rem;
  line-height: 120%;
  color: var(--color-neutral-800);
}

p,
li,
button {
  margin: 0;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0px;
}

p,
li {
  font-weight: 400;
  color: var(--color-neutral-500);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: url(../assets/home/bg-pattern-header.svg) center top -188px/ 460px
      no-repeat,
    url(../assets/home/bg-pattern-footer.svg) center bottom / 1200px no-repeat,
    linear-gradient(
      to bottom,
      var(--color-neutral-50) 0%,
      var(--color-neutral-50) 58%,
      var(--color-neutral-900) 58%,
      var(--color-neutral-900) 100%
    );
}

.container {
  margin: 0 auto;
  max-width: 1190px;
  padding: 40px 1rem 112px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* header */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.btn {
  width: 170px;
  height: 50px;
  border-radius: 999px;
  padding: 12px 40px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-main-cta {
  background-color: var(--color-blue-500);
  color: var(--color-neutral-0);
}

.btn-main-cta:hover {
  background-color: var(--color-blue-300);
}

.btn-main-cta:focus {
  box-shadow: 0 0 0 3px var(--color-neutral-0), 0 0 0 5px var(--color-blue-500);
}

footer {
  display: flex;
  gap: 48px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  body {
    background: url(../assets/home/bg-pattern-header.svg) right -300px top -200px/
        666px no-repeat,
      url(../assets/home/bg-pattern-footer.svg) center bottom -50% / 1200px no-repeat,
      linear-gradient(
        to bottom,
        var(--color-neutral-50) 0%,
        var(--color-neutral-50) 64%,
        var(--color-neutral-900) 64%,
        var(--color-neutral-900) 100%
      );
  }
}

@media screen and (min-width: 1200px) {
  body {
    background: url(../assets/home/bg-pattern-header.svg) right -125px top -500px/
        1134px no-repeat,
      url(../assets/home/bg-pattern-footer.svg) left -5% bottom -85% / 1200px
        no-repeat,
      linear-gradient(
        to bottom,
        var(--color-neutral-50) 0%,
        var(--color-neutral-50) 64%,
        var(--color-neutral-900) 64%,
        var(--color-neutral-900) 100%
      );
  }

  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* text presets */
.text-preset1 {
  font-size: 3.5rem; /* 56px */
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
}

.text-preset1-tablet {
  font-size: 2.5rem; /* 40px */
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
}

.text-preset2 {
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
}

.text-preset3 {
  font-size: 1.125rem; /* 18px */
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset4 {
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0px;
}

.text-preset5 {
  font-size: 1rem; /* 16px */
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0px;
}

.text-preset6 {
  font-size: 1rem; /* 16px */
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 5px;
}
