.countdown-content {
  width: 100%;
  display: grid;
  gap: 20px;
  justify-items: center;
}

.countdown-content .text-content {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
}

.countdown-content .text-coming {
  color: var(--color-neutral-0);
}

.countdown-content .text-date {
  color: var(--color-blue-500);
}

.countdown-container {
  display: inline-flex;
  gap: 16px;
}

.countdown-card {
  display: block;
  width: 74px;
  border: none;
  background-color: var(--color-neutral-800);
  padding: 16px 12px;
  border-radius: 12px;
  display: grid;
  gap: 4px;
  justify-items: center;
}

.countdown-card .num {
  font-size: 2.5rem; /* 40px */
  font-weight: 700;
  line-height: 120%;
  color: var(--color-neutral-0);
}

.countdown-card .units {
  font-weight: 700;
  opacity: 0.5;
  color: var(--color-neutral-0);
}

@media screen and (min-width: 768px) {
  .countdown-card {
    width: 100px;
  }

  .countdown-card .num {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .countdown-content {
    width: auto;
    justify-items: start;
  }
}
